<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand">
			
			{{#linkTo "home"}}Home{{/linkTo}} |
			{{#linkTo "contacts"}}Contacts{{/linkTo}} |
			{{#linkTo "stocks"}}Stocks{{/linkTo}} |
			<a href='/'>Exit</a>
			
	  </div>

	  <ul class="nav pull-right">
		{{#if App.logged_in_state }}
		<div class="btn-group">
			{{#linkTo 'login' classNameBindings="view.login_button_class"}}<i class="icon-user"></i> {{App.logged_in_user}}{{/linkTo}}
	  		<button {{action "Logout" target="controller"}} {{bindAttr class="view.login_button_class"}}>
			    <i class="icon-off"></i> Logout</button>
		</div>
		{{/if}}
	  </ul>
	
    </div>
  </div>
</div>
<div class="container-fluid" id="main">
  <div class="row-fluid">

    {{outlet}}

  </div>
</div>
